<!doctype html>
<html>
  <head>
    <title>Digital Skills for Africa</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <meta name='theme-color' content='#FCB340'>
    <meta name='msapplication-navbutton-color' content='#FCB340'>
    <meta name='apple-mobile-web-app-status-bar-style' content='#FCB340'>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class ="col-xs-12 col-md-offset-2 col-md-8">
            <img src="/img/kf.png" class="img-thumbnail" alt="Mountain View" style="width:200px;height:100px;">
            <img src="/img/gg.png" class="img-thumbnail" alt="Mountain View" style="width:200px;height:100px;">
            <img src="/img/cl.png" class="img-thumbnail " alt="Mountain View" style="width:200px;height:100px;">
          </div>
        </div>
        <div  class="row" style="color:blue;font-size:46px">
          <div class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>Attendance Form </h1>
          </div>
        </div>
      </div>
  </header>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-offset-2 col-md-8">
          <p style='padding:20px;'></p>
          <form action='/' method='POST'>
            <div class="form-group">
              <label for='name'>Name:</label>
              <input class="form-control" type='text' id='name' name='name' placeholder="Enter full name" />
            </div>
            <p></p>
            <div class="form-group">
              <label for='email'>Email:</label>
              <input class="form-control" type='text' id='email' type='email' name='email' placeholder="Enter email" />
            </div>
            <p></p>
            <div class="form-group">
              <label for='pnumber'>Phone number:</label>
              <input class="form-control" type='text' id='pnumber' name='pnumber' placeholder="Enter phone number" />
            </div>
            <p></p>
            <div class="form-group">
              <label for='gender'>Gender:</label>
              <select name='gender' class="form-control">
                <option value='M'>M</option>
                <option value='F'>F</option>
              </select>
            </div>
              <p></p>
              <button class="btn btn-primary" type='submit'>Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </body>
</html>
