<!doctype html>
<html>
  <head>
    <title>Digital Skills for Africa</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='theme-color' content='#FCB340'>
    <meta name='msapplication-navbutton-color' content='#FCB340'>
    <meta name='apple-mobile-web-app-status-bar-style' content='#FCB340'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <img src="/img/thank-you.png" style="width:300px;height;600px;" />
      </div>
    </div>
  </body>
</html>
